body{
    background-color: rgb(41, 41, 41);
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

}
h1{
    color: orangered;
    font-size: 40px;
}
.BigText{
    font-size: 25px;
    font-family: 'Oxygen', sans-serif;
    color: rgb(8, 243, 243);
    margin-left: 7%;
}

.KeyWord{
    color: white;
    
}
#welColour{
    color: rgb(179, 168, 15);


}
.FirstPartWidth{
     width: 40%;
     float: left;
     margin-left: 3%;
     margin-top: 7%;
     padding-left: 2%;
     
}
.FirstPartWidth img{
    width: 100%;
}